$example: 123;
$color1: #f26522;

//Burger Params
$navigationParam: 875;
$burgerW: 36px;
$burgerH: 22px;
$burgerColor: rgb(248, 151, 29);
$activeBurgerColor: #ffffff;
$itemColor: rgb(8, 25, 33);
$activeItemColor: #de494e;
$hoverAfterColor: rgb(222, 73, 78);
$hoverBgColor: #ffffff;
