// Core colors
$purple: #7B71AA;
$grey: #ABACAC;
$blue: #2799CE;
$red: #DF292A;
$orange: #E67528;
$orange2: #FB9651;
$theme-grey: #EDF1F3;
$theme2-grey: #D6E2E8;
$dark-grey: #C9C9C9;
$green: #05A14C;
$new-blue: #F1F6FC;


//Paddings $ margins
$biggest: 120px;
$bigger: 80px;
$big: 64px;
$medium: 48px;
$small: 32px;
$smaller: 24px;
$smallest: 12px;
