// Core colors
$purple: #7B71AA;
$grey: #ABACAC;
$blue: #2799CE;
$red: #DF292A;
$orange: #E67528;
$theme-grey: #EDF1F3;

//Paddings $ margins
$biggest: 120px;
$bigger: 80px;
$big: 64px;
$medium: 48px;
$small: 32px;
$smaller: 24px;
$smallest: 12px;

//Burger Params
$navigationParam: 875;
$burgerW: 36px;
$burgerH: 22px;
$burgerColor: rgb(248, 151, 29);
$activeBurgerColor: #ffffff;
$itemColor: rgb(8, 25, 33);
$activeItemColor: #de494e;
$hoverAfterColor: rgb(222, 73, 78);
$hoverBgColor: #ffffff;
