.card-detail {
	$parent: &;
	&__wrap {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		@include adaptive (635) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__min {
		@include adaptive (635) {
			display: none;
		}
	}
	&__images {
		max-width: 400px;
		width: 100%;

		margin-right: 30px;
		@include adaptive (1375) {
			max-width: 300px;

			margin-right: 15px;
		}
		@include adaptive (1175) {
			max-width: 250px;
		}
		@include adaptive (635) {
			max-width: none;

			margin-right: 0;
		}
	}
	&__image {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		border: 1px solid #f5f5f5;
		& img {
			object-fit: contain;
			display: block;
		}
	}
	&__big {
		margin-bottom: 14px!important;
	}
	&__prop {
		color: #9a9a9a;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
	}
	&__text {
		color: #000000;
		font-size: 14px;
		font-weight: 300;

		display: block;

		margin-bottom: 12px;
		@include adaptive (1375) {
			font-size: 12px;

			margin-bottom: 7px;
		}
	}
	&__props {
		margin-bottom: 24px;
		@include adaptive (1375) {
			margin-bottom: 12px;
		}
	}
	&__counter {
		text-align: center;

		align-items: center;

	}
	&__buttons {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: stretch;

	}
	&__actions {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;

		margin: 30px 0px 30px;
		@include adaptive (1375) {
			margin: 10px 0;
		}
	}
	&__button {
		&:nth-child(1) {
			padding: 0px 14px;
			margin-right: 8px;
		}
	}
	&__compare {
		margin-right: 49px;
		@include adaptive (1375) {
			margin-right: 20px;
		}
	}
	&__right {
		padding-left: 58px;
		@include adaptive (1375) {
			padding-left: 30px;
		}
		@include adaptive (1175) {
			padding-left: 10px;
		}
	}
	&__left {
		flex-grow: 0.8;

		border-right: 1px solid #f5f5f5;

		padding-bottom: 26px;

		@include adaptive (975) {
			border: none;
		}
	}
	&__info {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		flex-grow: 0.7;
	}
	&__print {
		color: #040404;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;

		padding-left: 23px;

		cursor: pointer;

		margin-bottom: 10px;

		&::before {
			content: '';

			width: 14px;
			height: 18px;

			background-image: url('../img/print.png');
			background-position: center;
			background-repeat: no-repeat;

			position: absolute;
			top: 50%;
			left: 0;

			transform: translateY(-50%);
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__socials {
		flex-direction: column;
		align-items: flex-start;

		margin-bottom: 19px;
		& .social__wrap {
			margin: 0px -7.5px;
		}
		@include adaptive (635) {
			align-items: center;
		}
	}
	&__delivery {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-decoration: underline;
	}
	&__brand {
		& span {
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;

			margin-bottom: 6px;

			@include adaptive (1375) {
				font-size: 12px;
				line-height: 18px;
			}
		}
	}
	&__prices {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: baseline;

		margin-bottom: 17px;
		@include adaptive (1375) {
			margin-bottom: 10px;
		}
		& .status {
			font-size: 14px;
			font-weight: 500;
			@include adaptive (1375) {
				font-size: 12px;
			}
			&_in-stock {
				color: #8dc63f;
			}
			&_out-of-stock {
				color: red;
			}
		}
	}
	&__price {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		margin-right: 68px;
		@include adaptive (1375) {
			margin-right: 30px;
		}
		& .price {
			font-size: 30px;
			font-weight: 700;
			@include adaptive (1375) {
				font-size: 20px;
			}
		}
	}
	&__rate {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: flex-start;
		@include adaptive (635) {
			justify-content: center;
		}
	}
	&__stars {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;

		margin-left: 6.5px;

	}
	&__star {

		margin: 0px 3.5px;
		&_cup {
			& ~ #{$parent}__star {
				& svg {
					fill: #ebebeb;
				}
			}
		}
		&:hover {
			& svg {
				fill: #fd5a21;
			}
			& ~ #{$parent}__star {
				& svg {
					fill: #ebebeb;
				}
			}
		}

	}
	&__top {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: flex-start;
		@include adaptive (975) {
			flex-direction: column;

		}
		@include adaptive (635) {
			text-align: center;

			align-items: center;

		}
	}
	&__icon {
		width: 12px;
		height: 13px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		fill: #fd5a21;
	}
}
