.catalog-sort {
	margin-top: 27px;
	@include adaptive (1375) {
		margin-top: 10px;
	}
	&__wrap,
	&__tabs,
	&__list,
	&__subwrap,
	&__bottom {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
	}
	&__subwrap,
	&__list {
		@include adaptive (1175) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__tabs {
		margin-left: 22px;
		@include adaptive (1375) {
			margin-left: 0;
			margin: 0px -8px;
		}
		@include adaptive (975) {
			flex-wrap: wrap;
		}
		@include adaptive (680) {
			margin: 0px -4px;
		}
	}
	&__bottom {
		justify-content: space-between;

		margin-top: 37px;
		margin-left: 42px;
		@include adaptive (1375) {
			margin-top: 10px;
			margin-left: 0;
		}
		@include adaptive (975) {
			flex-wrap: wrap;
		}

	}
	&__pagination {
		@include adaptive (975) {
			width: 100%;
			margin-top: 10px;
		}
	}
	&__by {
		color: #000000;
		font-size: 14px;
		font-weight: 300;
		line-height: 30px;

		border: 1px solid transparent;;
		display: -ms-flex;
		display: flex;
		align-items: center;

		transition: .3s;

		padding: 0px 12px;
		margin: 0px 3px;
		@include adaptive (680) {
			font-size: 12px;
			line-height: 25px;

			padding: 0px 6px;
		}
		&.isActive,
		&:hover {
			border: 1px solid #f5f5f5;
		}
	}
	&__tab {
		color: #000000;
		font-size: 14px;
		font-weight: 700;
		line-height: 48px;
		text-transform: uppercase;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		transition: .3s;

		padding: 0px 15px;
		margin: 0px 15px;

		cursor: pointer;

		@include adaptive (1375) {
			font-size: 12px;
			line-height: 35px;

			padding: 0px 10px;
			margin: 0px 8px;
		}
		@include adaptive (680) {
			font-size: 11px;
			line-height: 27px;
			padding: 0px 7px;

			margin: 4px;
		}
		&.isActive,
		&:hover {
			color: #a2a2a2;
			background-color: #f5f5f5;
		}
	}
	&__name {
		color: #000000;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;

		margin-right: 10px;
	}
}
