.catalog-list {
  @include adaptive(875) {
    margin-bottom: 30px;
  }
  @include phone {
    display: none;
  }
  &__wrap {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
  }
  &__image {
    width: 85px;
    height: 85px;
    object-fit: contain;
    @include adaptive(735) {
      width: 45px;
      height: 45px;
    }
  }
  &__item {
    width: calc(100% / 8);
    margin-bottom: 20px;
    padding-right: 10px;
    @include adaptive(1680) {
      width: calc(100% / 6);
      margin-bottom: 10px;
    }
    @include adaptive(1000) {
      width: calc(100% / 4);
    }
    @include adaptive(635) {
      width: calc(100% / 3);
    }

    &:hover {

      color: $blue;
    }
    & svg {
      width: 31px;
      height: 25px;
      flex-shrink: 0;
      margin-right: 21px;
      @include adaptive(1000) {
        margin-right: 10px;
      }
    }
  }
  &__count {
    font-size: 14px;
    color: $grey;
    margin: 0px 6px;
    @include adaptive(735) {
      font-size: 12px;
      margin: 0px 2px;
    }
  }
  &__link {
    max-width: 147px;
    color: inherit;
    font-weight: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  &__plus {
    color: $green;
    flex-shrink: 0;
    margin: 0px 3px;
  }
  &__name {
    display: block;
    font-size: 16px;
    line-height: 140%;
    padding-right: 0px;
    margin-top: 23px;
    @include adaptive(1000) {
      font-size: 14px;

    }
    @include adaptive(735) {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
