.features-list {
	background-color: #f5f5f5;

	margin-top: 15px;
	&__wrap {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;


		margin: 0px -36px;
		padding: 32px 0;

		@include adaptive (1175) {
			margin: 0px -15px;
			padding: 15px 0;
		}
		@include adaptive (775) {
			justify-content: center;

			margin: 0px -10px;
		}
	}
	&__item {
		width: calc(100% / 5 - 72px);

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 0px 36px;
		padding: 0px 5px;
		@include adaptive (1175) {
			width: calc(100% / 5 - 30px);

			margin: 0px 15px;

		}
		@include adaptive (775) {
			width: calc(100% / 3 - 20px);

			margin: 10px;
		}
		@include phone {
			width: calc(100% / 2 - 20px);
		}
	}
	&__text {
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		@include adaptive (1175) {
			font-size: 12px;
			line-height: 15px;
		}
	}
	&__icon {
		width: 48px;
		height: 48px;

		border-radius: 50%;
		border: 1px solid #f26522;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		margin-bottom: 11px;

		@include phone {
			width: 37px;
			height: 37px;

			margin-bottom: 6px;
		}
		& img {
			display: block;
			object-fit: contain;
		}
	}
}
