.header {
	$parent: &;
	&__logo {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		margin-right: 42px;
		@include adaptive (1175) {
			width: 140px;

			margin-right: 15px;
		}
		@include phone {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
	&__center {
		& #{$parent}__wrap {
			@include adaptive (775) {
				flex-direction: column;
				padding: 15px 0;
			}
		}
	}
	&__cabinet {
		color: #b7b7b7;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		@include adaptive (975) {
			font-size: 12px;
			line-height: 20px;
		}

		& span,
		& a {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
		}

		& svg {
			width: 14px;
			height: 17px;
			fill: #b7b7b7;

			margin-right: 15px;
			@include adaptive (975) {
				margin-right: 10px;
			}
		}

		& a {
			color: inherit;
			font-size: inherit;
			line-height: inherit;

			transition: .3s;
			&:hover {
				color: black;
				& svg {
					fill: black;
				}
			}
		}
	}
	&__login {
		margin-right: 23px;
		@include adaptive (1175) {
			margin-right: 12px;
		}
	}
	&__logout {
		font-weight: 100;
	}
	&__phone {
		svg {
			width: 18px;
			height: 18px;

			fill: #b7b7b7;

			margin-right: 11px;
			&:hover {
				fill: #f26522;
			}
			@include adaptive (1175) {
				margin-right: 7px;
			}
			@include adaptive (775) {
				margin-right: 0;
				margin-left: 7px;
			}
		}
		& a span {
			font-size: 16px;
			letter-spacing: 0.8px;
			line-height: 16px;
			font-weight: 700;
			@include adaptive (1175) {
				font-size: 13px;
				line-height: 14px;
			}
			@include adaptive (975) {
				font-size: 11px;

			}
			@include adaptive (775) {
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

	}
	&__announce {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		@include adaptive (1175) {
			font-size: 12px;
			line-height: 18px;
		}
		@include adaptive (975) {
			font-size: 10px;
			line-height: 18px;
		}
	}
	&__subwrap {
		@include adaptive (775) {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			justify-content: flex-end;

			background-color: #f26522;

			padding: 10px 15px;
			margin-top: 10px;
		}
	}
	&__top {
		& #{$parent}__wrap {
			@include phone {
				flex-direction: column;
				align-items: flex-end;
			}
		}
	}
	&__mobile {
		display: none;
		@include adaptive (775) {
			width:45px;
			height: 35px;

			display: block;

			border: none;
			background: transparent;

			position: relative;

			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			cursor: pointer;
			margin-left: 10px;
			z-index: 12;
			&:hover span {
			  background: darken(white, 20%);
			}
			& span {
			  display: block;
			  position: absolute;
			  height: 4px;
			  width: 50%;
			  background: white;
			  opacity: 1;
			  -webkit-transform: rotate(0deg);
			  -ms-transform: rotate(0deg);
			  transform: rotate(0deg);
			  -webkit-transition: 0.25s ease-in-out;
			  -o-transition: 0.25s ease-in-out;
			  transition: 0.25s ease-in-out;

			  &:nth-child(even) {
			  left: 50%;
			  border-radius: 0 9px 9px 0;
			  }

			  &:nth-child(odd) {
			  left: 0;
			  border-radius: 9px 0 0 9px;
			  }

			  &:nth-child(1),
			  &:nth-child(2) {
			  top: 10%;
			  }

			  &:nth-child(3),
			  &:nth-child(4) {
			  top: 50%;
			  }

			  &:nth-child(5),
			  &:nth-child(6) {
			  top: 90%;
			  }

			  &:nth-child(6) {
			  opacity: 0;
			  }
			}
			  &.isOpened {
				z-index: 12;
				transition: 0.5s ease-in-out;

				& span {
				  &:nth-child(1),
				  &:nth-child(6) {
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				  }

				  &:nth-child(2),
				  &:nth-child(5) {
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				  }

				  &:nth-child(1) {
					width: 20px;
					left: 0;
					top: 10px;
				  }

				  &:nth-child(2) {
					width: 20px;
					left: 14px;
					top: 10px;
				  }

				  &:nth-child(5) {
					width: 20px;
					top: 23px;
					left: 0;
				  }

				  &:nth-child(6) {
					width: 20px;
					left: 14px;
					top: 23px;
					opacity: 1;
				  }

				  &:nth-child(3) {
					left: -50%;
					opacity: 0;
				  }

				  &:nth-child(4) {
					left: 100%;
					opacity: 0;
				  }
				}
			  }
		}
	}
	&__side {
		@include adaptive (775) {
			height: 100%;
			width: 100%;
			max-width: 100vw;
			max-height: 100vh;

			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-direction: column;
			align-items: center;

			background: #f5f5f5;

			position: fixed;
			right: -100%;
			top: 0;

			overflow: auto;
			-webkit-overflow-scrolling: touch;

			transition: .5s;
			transition-property: right;

			z-index: 10;
			&.isOpened {
				right: 0;
			}
		}
	}
	&__info,
	&__callback {
		color: #000000;
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;

		cursor: pointer;
		@include adaptive (975) {
			font-size: 12px;
			line-height: 16px;
		}
		& svg {
			width: 19px;
			height: 17px;

			margin-right: 12px;

			@include adaptive (1175) {
				margin-right: 5px;
			}
			@include adaptive (975) {
				width: 16px;
				height: 15px;
			}
		}
	}
	&__callback {
		&:hover {
			& svg {
				fill: #f26522;
			}
		}
	}
	&__city {
		color: #b7b7b7;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		flex-grow: 0.07;
		@include adaptive (1175) {
			font-size: 12px;
			line-height: 16px;
		}
		& form,
		& label {
			width: 100%;
		}
		& select {
			flex-grow: 1;
		}

	}
	&__bottom {
		background-color: #f26522;
	}
	&__actions,
	&__social,
	&__personal {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: space-between;
	}
	&__socials {
		@include adaptive (775) {
			margin-right: 10px;
		}
	}
	&__actions {
		flex-direction: column;
		flex-grow: 1;

		box-shadow: 1px 1px 7px 1px rgba(40, 35, 31, 0.11);
		background-color: #ffffff;
		@include phone {
			width: 100%;
		}
	}

	&__social {
		background-color: #f5f5f5;
		padding: 8px 34px 8px 15px;
		@include adaptive (1175) {
			padding: 6px 10px;
		}
		@include adaptive (775) {
			justify-content: flex-end;
		}
	}

	&__personal {
		padding: 10px 34px 10px 15px;
		@include adaptive (1175) {
			padding: 6px 10px;
		}
	}

	&__wrap {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;

		align-items: center;
		&_sb {
			justify-content: space-between;
		}
	}

	&__search {
		& label {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: center;
		}

		& span {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& svg {
			width: 16px;
			height: 16px;

			margin-right: 14px;
			@include adaptive (975) {
				width: 13px;
				height: 13px;

				margin-right: 8px;
			}
		}
	}
	&__basket {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@include adaptive (635) {
			align-items: center;
			justify-content: center;
		}
		& .text-button {
			color: #f26522;
		}
		& svg {
			width: 23px;
			height: 19px;

			fill: #f26522;

			margin-right: 12px;

			@include adaptive (975) {
				width: 20px;
				height: 17px;

				margin-right: 7px;
			}
		}
		& a {
			color: #000000;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;

			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: center;

			@include adaptive (975) {
				font-size: 11px;
				line-height: 18px;
			}

		}
	}
}
