.header {
  $parent: &;
  background: white;
  margin: 0 0 24px;
  @include phone {
    display: none;
  }
  &__navigation {
    flex-grow: 0.768;
    @include adaptive(1680) {
      flex-grow: 1;
    }
  }
  &__search {
    flex-grow: 0.773;
    @include adaptive(1366) {
      flex-grow: 0.86;
      margin-right: 50px;
    }
    @include adaptive(1144) {
      flex-grow: 1;
      margin-right: 65px;
    }
    @include adaptive(1100) {
      margin-right: 68px;
    }
    @include adaptive(1000) {
      margin-right: 15px;
    }
  }
  &__logo {
    margin-right: 187px;
    @include adaptive(1680) {
      margin-right: 97px;
    }
    @include adaptive(1144) {
      width: 90px;
      height: 80px;
      margin-right: 60px;
    }
    @include adaptive(1000) {
      margin-right: 20px;
    }
  }
  &__icon {

    &-count {
      min-width: 15px;
      min-height: 15px;
      color: white;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      right: -7px;
      top: -1px;
    }
  }
  &__item {
    position: relative;
    &:hover::before {
      pointer-events: all;
    }
    &::before {
      content: '';
      width: 100%;
      height: 67px;
      background: transparent;
      position: absolute;
      left: 0;
      bottom: -67px;
      pointer-events: none;
    }
    &-hidden {
      top: calc(100% + 67px);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      overflow: hidden;
      padding: 24px 32px;

      &:hover {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in-out;
        z-index: 10;
        pointer-events: all;
      }
    }
    &_cart {
      left: -2px;
      @include adaptive(1880) {
        left: auto;
      }
      @include adaptive(1366) {
        left: -11px;
      }
      @include adaptive(1144) {
        left: auto;
      }
      #{$parent}__item-visible {
        @include adaptive(1144) {
          border-left: 1px solid $theme-grey;
          padding-left: 37px;
        }
        @include adaptive(1000) {
          padding-left: 15px;
        }
        &:hover svg {
          fill: $blue;
        }
      }
      & #{$parent}__icon-count {
        background: $red;
      }
    }
    &_manager {
      right: -3px;
      @include adaptive(1880) {
        right: auto;
      }
      @include adaptive(1366) {
        display: flex;
        align-items: center;
        & #{$parent}__item-visible {
          @include adaptive(1144) {
            padding-right: 37px;
          }
          @include adaptive(1000) {
            padding-right: 15px;
          }
        }
        & #{$parent}__item-top,
        & #{$parent}__item-bottom {
          display: none;
        }
        & #{$parent}__item-icon {

          margin-right: 0;
        }
      }
    }
    &_fav {
      & #{$parent}__item-icon {
        margin-right: 15px;
      }
      @include adaptive(1880) {
        right: auto;
      }
      @include adaptive(1366) {
        display: flex;
        align-items: center;
        & #{$parent}__item-top,
        & #{$parent}__item-bottom {
          display: none;
        }
        & #{$parent}__icon-count {
          top: -5px;
        }
        & #{$parent}__item-icon {

          margin-right: 0;
        }
      }
      @include adaptive(1144) {
        display: none;
      }
      #{$parent}__item-visible {
        @include adaptive(1366) {
          border-right: 1px solid $theme-grey;
          border-left: 1px solid $theme-grey;
          position: relative;
          left: -7px;
          padding: 5px 24px;
        }
        &:hover svg {
          stroke: $blue;
        }
      }
      & #{$parent}__icon-count {
        background: $purple;
      }
    }
    &_manager {
      #{$parent}__item-visible {
        &:hover svg {
          fill: $blue;
        }
      }
    }
    & p {
      margin: 0;
    }
    &-top {
      color: $grey;
      font-size: 12px;
      line-height: 18px;
    }
    &-bottom {
      font-size: 14px;
      line-height: 131.99%;
      &_bold {
        font-weight: 700;
      }
    }
    &-visible {
      cursor: pointer;
    }
    &-hidden {
      width: 432px;
      position: absolute;
      right: 0;
      background: white;
      &_size {
        &_small {
          width: 341px;
        }
      }

    }
    &:hover #{$parent}__item-hidden {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease-in-out;
      z-index: 10;
      pointer-events: all;
    }
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: 20px;
      & svg {
        width: 21px;
        height: 21px;
      }
    }
    &-visible {
      display: flex;
    }
  }
  &__middle {
    padding: 12px 0;
    @include adaptive(1100) {
      padding: 9px 0;
    }
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

    }
    &-wrap {
      display: flex;
      position: relative;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
      @include adaptive(1144) {
        justify-content: flex-start;
      }
      @include adaptive(1100) {
        margin-bottom: 9px;
      }
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include adaptive(1366) {
        padding-right: 5px;
      }
      @include adaptive(1144) {
        padding-right: 0;
      }
    }
  }
  &__top {
    background: #C9C9C9;
    &-link {
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      @include adaptive(1440) {
        font-weight: 700;
        font-size: 36px;
        line-height: 180%;
        position: relative;
        &:hover {
          &::before {
            width: 40px;
          }
        }
        &::before {
          content: '';
          width: 0px;
          height: 2px;
          background: $theme2-grey;
          position: absolute;
          top: 50%;
          left: -87px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      }
      &:hover {
        color: $blue;
      }
    }
    &-subwrap {
      display: flex;
      align-items: center;
    }
    &-list {
      display: flex;
      align-items: center;
      flex-grow: 0.2;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
      @include adaptive(1880) {
        margin: 0;
      }
      @include adaptive(1440) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &-city {
      display: flex;
      margin-right: -35px;
      @include adaptive(1880) {
        margin-right: 0;
      }
    }
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-manager {
      display: flex;
      align-items: center;
      @include adaptive(1366) {
        left: -7px;
        position: relative;
      }
      @include adaptive(1144) {
        left: -10px;
      }
      @include adaptive(1000) {
        left: auto;
      }
    }
    &-callback {
      margin-left: 11px;
      @include adaptive(1680) {
        margin-left: 20px;
      }
      @include adaptive(1366) {
        margin-left: 14px;
      }
      @include adaptive(1100) {
        margin-left: 36px;
      }
      @include adaptive(1000) {
        margin-left: 15px;
      }
    }
    &-phones {
      display: flex;
      align-items: center;
      @include adaptive(875) {
        display: none;
      }
    }
  }

  &__normal {
    line-height: 18px;
    margin: 0;
  }
  &__bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    @include adaptive(1144) {
      font-size: 14px;
    }
  }
  &__phones {
    &-item {
      margin-right: 24px;
      @include adaptive(1144) {
        margin-right: 16px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &-name {
      color: #2799CE;
      font-weight: 700;
      margin-right: 16px;
      @include adaptive(1144) {
        margin-right: 14px;
      }
    }
  }
  &__city {
    &-name {
      margin-right: 14px;
      @include adaptive(1144) {
        margin-right: 9px;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      margin: 0;
      & svg {
        width: 10px;
        height: 15px;
        margin-right: 9px;
      }
    }
    &-selected {
      display: flex;
      align-items: center;
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
      & svg {
        width: 9px;
        height: 13px;
        margin-left: 8px;
        @include adaptive(1144) {
          margin-left: 4px;
        }
      }
    }
  }
  &__manager {
    &-name {
      margin-right: 14px;
      @include adaptive(1144) {
        margin-right: 9px;
      }
    }
  }
  &__hidden {
    &-link {
      line-height: 220%;
      display: block;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      &:hover {
        color: $blue;
      }
    }
    &-button {
      display: inline-flex;
    }
    &-logout {
      display: flex;
      align-items: center;
      &:hover svg {
        fill: $blue;
      }
      & svg {
        width: 20px;
        height: 15px;
        margin-right: 7.5px;
      }
    }
    &-profile {
      font-weight: bold;
      font-size: 16px;
      line-height: 131.99%;
      display: block;
      border-bottom: 1px solid $grey;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      padding-bottom: 24px;
      &:hover {
        color: $blue;
      }
    }
    &-list {
      list-style-type: none;
      padding: 24px 0px 0px;
      margin: 0;
    }
    &-container {
      margin-right: -17px;
      &::-webkit-scrollbar,
      & *::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb,
      & *::-webkit-scrollbar-thumb{
        background: $purple;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-track {
        background: $grey;
        border-radius: 20px;
      }
    }
    &-scroll {
      height: 300px;
      overflow: auto;
      padding-right: 17px;
    }
    &-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
    }
    &-title {
      text-transform: uppercase;
      margin-top: 0;
    }
  }

}
