.index-slider {
	background-color: #f5f5f5;
	&__subwrap {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
	&__name {
		color: #000000;
		font-size: 30px;
		font-weight: 300;
		line-height: 36px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		margin-bottom: 31px;

		@include adaptive (1175) {
			font-size: 24px;
			line-height: 30px;
		}
		@include adaptive (975) {
			font-size: 20px;
			line-height: 26px;
		}
		@include adaptive (775) {
			font-size: 18px;
			line-height: 24px;

			margin-bottom: 15px;
		}
	}
	&__left {
		padding-top: 23px;
		padding-bottom: 49px;
		@include adaptive (1175) {
			padding-top: 5px;
			padding-bottom: 16px;
		}
		@include phone {
			width: 100%;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-direction: column;
			align-items: center;

			text-align: center;

		}
	}
	&__right {
		max-width: 875px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-grow: 1;

		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		@include adaptive (1175) {
			max-width: 600px;
		}
		@include adaptive (775) {
			background-size: cover;
		}
		@include adaptive (635) {
			background-image: none!important;
		}
	}
	&__timer {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 14px 30px 20px 30px;
		@include adaptive (1175) {
			padding: 10px 20px;
		}
		@include phone {
			display: none;
		}
		&::before {
			content: '';
			width: 100%;
			height: 100%;

			background-color: #ffffff;
			opacity: 0.9;

			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__info {
		color: #f26522;
		font-size: 14px;
		line-height: 30px;
		font-weight: 300;
	}
}
