.main-catalog {
	$parent: &;
	&_inner {
		& #{$parent}__wrapper {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;

			margin: 0px -8px;
		}
		& #{$parent}__item {
			width: calc(100% / 3 - 16px);

			margin: 8px;

			@include adaptive (975) {
				width: calc(100% / 2 - 16px);
			}
			@include phone {
				width: calc(100% / 1 - 16px);
			}
		}
		& #{$parent}__image {
			object-fit: cover;
		}
		& #{$parent}__subwrap {
			@include phone {
				height: 175px;
			}
		}
 	}
	&__subwrap {
		height: 273px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

		padding: 29px 37px;
		@include adaptive (1175) {
			height: 216px;
			padding: 4px 15px;
		}
		@include adaptive (775) {
				height: 155px;
		}
		&:hover {
			& #{$parent}__image {
				opacity: 1;
			}
		}
		&::before {
			content: '';
			width: 100%;
			height: 100%;

			background-color: rgb(37, 37, 37);

			position: absolute;
			top: 0;
			left: 0;

			z-index: -1;
		}
	}
	&__image {
		width: 100%;
		height: 100%;

		background-repeat: no-repeat;

		position: absolute;
		top: 0;
		left: 0;

		opacity: 0.5;

		z-index: 1;

		transition: .5s;
	}
	&__title {
		color: #ffffff;
		font-size: 20px;
		font-weight: 400;
		line-height: 36px;

		z-index: 2;

		@include adaptive (1175) {
			font-size: 17px;
			line-height: 28px;
		}
	}
}
