.props-table {
	margin-top: 30px;
	&__tabs {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__tab {
		flex-grow: 1;
	}
	&__list {
		display: none;
		&.isActive {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: stretch;
			@include adaptive (635) {
				flex-direction: column;
			}
		}
	}
	&__body {
		color: #000000;
		font-size: 14px;
		font-weight: 300;
		line-height: 36px;

		border: 1px solid #f5f5f5;

		padding: 12px 0px 16px 0;
		@include adaptive (1175) {
			font-size: 12px;
			line-height: 20px;
		}
	}
	&__left,
	&__right {
		padding-left: 18px;
		padding-right: 115px;
		@include adaptive (1175) {
			padding-left: 10px;
			padding-right: 30px;
		}
		@include adaptive (975) {
			padding-right: 10px;
		}
	}
	&__left {
		flex-grow: 0.95;

		border-right: 1px solid #f5f5f5;
	}
	&__right {
		flex-grow: 1;
	}
	&__title {
		font-weight: 500;
		line-height: 30px;
	}
	&__values {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: baseline;

		border-bottom: 1px solid #f5f5f5;
	}
	&__link {
		display: inline-block;

		margin-top: 62px;
		margin-bottom: 39px;
		@include adaptive (1175) {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	&__value {
		width: 50%;

		padding-right: 5px;
	}
}
