.common-blue-button {
  line-height: 18px;
  color: white;
  border: none;
  background: $blue;
  padding: 11px 21px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  @include adaptive(1144) {
    padding: 11px 11.5px;
  }
  &:hover {
    background: $purple;
  }
  &:active {
    background: #9F96CB;
  }
}
