.banner {
	padding: 32px 55px 19px;
	margin: 12px 0;
	@include adaptive (1375) {
		padding: 15px 20px;
	}
	&__top {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;

		margin-bottom: 28px;

	}
	&__icon {
		width: 120px;
		height: 70px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		margin-right: 49px;
		@include adaptive (1375) {
			margin-right: 20px;
		}

		& img {
			display: block;
			object-fit: contain;
		}
	}
	&__right {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__text {
		font-size: 30px;
		font-weight: 300;
		line-height: 36px;
		text-transform: uppercase;
		color: #000000;
		letter-spacing: 1.5px;

		display: inline-block;

		padding: 0px 6px;
		@include adaptive (1375) {
			font-size: 22px;
			line-height: 30px;
		}
		&_black {
			background: black;
			color: white;
		}
		&_white {
			background: white;
			color: black;
		}
	}
}
