.card-item {
	height: 391px!important;
	height: 100%;
	background-color: #ffffff;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	overflow: hidden;

	cursor: pointer;

	padding: 7px;
	@include adaptive (975) {
		height: 275px !important;
	}
	@include phone {
		padding: 3px;
	}
	$parent: &;

	&:hover {
		overflow: visible;

		z-index: 6;

		& #{$parent}__wrapper {
			box-shadow: 1px 1px 7px 1px rgba(40, 35, 31, 0.4);
		}
	}
	&_modified {
		@include adaptive (1175) {
			height: 416px!important
		}
		@include phone {
				height: 332px !important;
		}
		& #{$parent}__image {
			@include adaptive (1375) {
				width: 100%;
			}
		}
		& #{$parent}__wrapper {
			@include adaptive (1375) {
				padding: 8px 4px;
			}
		}
		& #{$parent}__actions {
			@include adaptive (1175) {
				width: 100%;

				flex-direction: column;
				align-items: center;
			}
		}
	}
	&__hover {
		width: 100%;
		max-height: 391px;
		height: 100%;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;


	}
	&__wrapper {
		max-width: 245px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-shrink: 0;

		background: white;
		box-shadow: 1px 1px 7px 1px rgba(40, 35, 31, 0.11);

		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		overflow: hidden;
		transition: .3s;

		padding: 8px 9px;
		z-index: auto;
		@include adaptive (975) {
			max-width: none;
		}
		@include phone {
			padding: 4px;
		}
	}
	&__image {
		width: 215px;
		height: 215px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

		@include adaptive (1175) {
			width: 100%;
			height: 160px;
		}
		@include phone {
			height: 130px;
		}
		& img {
			object-fit: contain;
			display: block;
		}
	}
	&__name {
		font-size: 16px;
		font-weight: 700;
		line-height: 18px;
		@include adaptive (1175) {
			font-size: 14px;
			line-height: 16px;
		}
		@include phone {
			font-size: 12px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__buy,
	&__view {
		width: 100%;

		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		text-align: center;

		border-top: 1px solid #f26522;
		border-bottom: 1px solid #f26522;

		transition: .3s;
		padding: 4px 0px;

		@include adaptive (1175) {
			font-size: 13px;
			line-height: 16px;
		}
		@include phone {
			font-size: 11px;
			line-height: 15px;
			padding: 2px 0;
		}
		&:hover {
			color: #f26522;
		}
	}
	&__view {
		border-bottom: none;
		border-color: black;

		padding-top: 13px;
		@include adaptive (1175) {
			padding-top: 5px;
		}
	}
	&__info {
		color: #b7b7b7;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: baseline;

		margin: 0px -10px;

		margin-bottom: 19px;

		@include adaptive (1175) {
			font-size: 12px;
			line-height: 15px;

			margin-bottom: 5px;
		}
		@include phone {
			font-size: 11px;
			line-height: 13px;

			margin: 0px -6px;
		}
		& a {
			color: inherit;
			font-weight: inherit;
			font-size: inherit;
			line-height: inherit;

			display: block;

			padding: 0px 10px;
			@include phone {
				padding: 0px 6px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__brand {
		&_separator {
			border-right: 1px solid #b7b7b7;
		}
	}
	&__prices {
		font-size: 14px;
		font-weight: 300;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: baseline;
		@include adaptive (1175) {
			font-size: 12px;
		}
	}
	&__before {
		color: #f26522;
		text-decoration: line-through;

		margin: 0px 6px;
	}
	&__current {
		font-size: 20px;
		line-height: 22px;
		font-weight: 700;
		@include adaptive (1175) {
			font-size: 17px;
			line-height: 19px;
		}
		@include phone {
			font-size: 12px;
			line-height: 16px;
		}
	}
	&__stock {
		color: #b7b7b7;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 21px;
		@include adaptive (1175) {
			font-size: 12px;
			line-height: 15px;

			margin-bottom: 5px;
		}
		@include phone {
			font-size: 11px;
			line-height: 14px;
		}
	}
	&__actions {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 14px 0;
		@include adaptive (1175) {
			padding: 5px 0;
		}
		@include adaptive (775) {
			align-self: center;
		}
		@include phone {
			flex-direction: column;
		}
	}
	&__cart {
		align-self: center;

		padding-bottom: 8px;
	}
}
