.catalog-nav {

	@include adaptive (775) {
		width: 100%;

		padding: 15px 0;
	}
	$parent: &;
	& * {
		position: static;
	}
	& .container {
		position: relative;
	}
	&__list {
		width: 100%;

		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;

		list-style-type: none;

		margin: 0;
		padding: 0;
		@include adaptive (775) {

			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		flex-grow: 0.6;

		&_parent {
			@include adaptive (775) {
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&:hover {
				& #{$parent}__sublist {
					left: 0;
					@include adaptive (775) {
						left: auto;

						max-height: 2000px;
					}
				}
			}
		}

	}
	&__sublist {
		width: 100%;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;

		list-style-type: none;
		background-color: #f5f5f5;

		position: absolute;
		left: -100vw;
		top: 100%;

		padding: 0;
		margin: 0;
		padding: 36px 15px;

		transition: .5s;

		z-index: 2;
		@include adaptive (1175) {
			padding: 15px;
		}
		@include adaptive (975) {
			padding: 10px 15px;
		}
		@include adaptive (775) {
			max-height: 0px;

			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-direction: column;
			align-items: center;

			background: transparent;

			position: relative;
			left: auto;
			top: auto;

			overflow: hidden;

			padding: 0;
			margin: 0;

			transition-property: max-height;
		}
		&::before {
			content: '';
			width: 100vw;
			height: 100%;
			background-color: #f5f5f5;

			position: absolute;
			left: 50%;
			top: 0;

			transform: translateX(-50%);

			z-index: -1;
			@include adaptive (775) {
				display: none;
			}
		}
	}
	&__link {
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		line-height: 48px;
		text-transform: uppercase;

		transition: .3s;
		@include adaptive (1175) {
			font-size: 12px;
			line-height: 35px;
		}
		@include adaptive (975) {
			font-size: 10px;
			line-height: 30px;
		}
		@include adaptive (775) {
			font-size: 15px;
		}
		&:hover {
			color: #010101;
		}
	}
	&__subitem {
		width: calc(100% / 4);
		@include adaptive (775) {
			width: 100%;
			text-align: center;
		}
	}
	&__sublink {
		color: #000000;
		font-size: 14px;
		font-weight: 300;
		line-height: 30px;

		transition: .3s;
		@include adaptive (1175) {
			font-size: 12px;
			line-height: 22px;
		}
		@include adaptive (975) {
			font-size: 11px;
			line-height: 17px;
		}
		@include adaptive (775) {
			font-size: 13px;
			line-height: 25px;
		}
		&:hover {
			color: #f26522;
			@include adaptive (775) {

				color: white;
			}
		}
	}
}
