.section-title {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 80px 0px 48px;
  @include adaptive(1244) {
    margin: 64px 0px 32px;
  }
  @include adaptive(875) {
    margin: 48px 0px 32px;
  }
}


.white-title {
  color: white;
  font-weight: bold;
  font-size: 64px;
  line-height: 125%;
  margin: 0;
  @include adaptive(1244) {
    font-size: 54px;
  }
  @include adaptive(1000) {
    font-size: 35px;
  }
}

.white-text {
  color: white;
  font-size: 16px;
  line-height: 140%;
  margin: 26px 0;
  @include adaptive(1244) {
    font-size: 14px;
  }
}
