.filter {
  order: 1;
  border: 1px solid #E0E7F0;
  padding: 0px 48px;
  margin-bottom: 24px;
  @include adaptive(1680) {
    padding: 0px 24px;
  }
  @include adaptive(1144) {
    padding: 0px 13px;
  }
  @include adaptive(735) {
    width: 100%;
    background: white;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    overflow: hidden;
    z-index: 15;
    &.js-isOpened {
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 10;
      pointer-events: all;
    }
  }
  @include phone {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: $purple;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
      background: $grey;
      border-radius: 20px;
    }
  }
  $parent: &;
  &__close {
    display: none;
    @include adaptive(735) {
      display: block;
      background: transparent;
      border: none;

      cursor: pointer;
      margin: 0 0 0 auto;
      padding: 13px 0 0;
      &:hover {
        & svg {
          fill: $purple;
        }
      }
      & svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__search {
    display: none;
    @include adaptive(735) {
      display: block;
      margin: 24px 0px 9px;
    }
  }
  &__button {
    display: none;
    @include phone {
      width: 40px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      &:hover {
        fill: $blue;
      }
      & svg {
        width: 8px;
        height: 8px;
        pointer-events: none;
      }
    }
  }
  &__name {
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    @include phone {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &:hover {
      color: $blue;
    }
  }
  &__item {
    padding: 24px 0;
    border-bottom: 1px solid $theme-grey;
    &-body {
      @include phone {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        overflow: hidden;
        &.js-isOpened {
          max-height: 1200px;
          opacity: 1;
          visibility: visible;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          z-index: 10;
          pointer-events: inherit;
          padding: 24px 0px 6px;
        }
      }
    }
  }
  &__range {
    &-item {
      margin-top: 30px;
      &.noUi-target {
        background: $theme-grey;
      }
      &.noUi-horizontal .noUi-handle {
        border: 3px solid $blue;
        background: white;
      }
      &.noUi-horizontal .noUi-handle::before {
        display: none;
      }
      & .noUi-connect::before {
        background: $blue;
      }
    }
    &-row {
      display: flex;
      align-items: center;
    }
  }
  &__range-round {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: $theme-grey;
    margin: 0px 5px;
  }
  &__title {
    font-size: 16px;
    margin: 0px 0px 24px;
    @include phone {
      margin-bottom: 0;
    }
  }
  &__load-count {
    margin-left: 3px;
  }
  &__load-more {
    font-size: 14px;
    line-height: 140%;
    display: block;
    border: none;
    background: $theme-grey;
    border-radius: 1px;
    margin: 0px 5.5px 0;
    padding: 8px 18px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      color: white;
      background: $purple;
    }
  }
  &__input {
    width: 157px;
    @include adaptive(1680) {
      width: 111px;
    }
    @include adaptive(1144) {
      width: 95px;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    padding-bottom: 24px;
    margin-top: -1px;
    &-item {
      max-width: 99px;
      flex-grow: 1;
      margin-right: 12px;
    }
  }
  &__item {
    &-count {
      font-size: 10px;
      line-height: 140%;
      color: $grey;
      margin-left: 9px;
    }
    &-body {
      &_with-margin {
        margin: 0px -5.5px;
      }
    }
    &-visible {
      border: 1px solid $theme2-grey;
      display: flex;
      align-items: center;
      padding: 8px 18px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    &-cross {
      & svg {
        width: 7px;
        height: 7px;
        fill: white;
        margin-left: 8px;
        display: none;
      }
    }
    &-label {
      font-size: 14px;
      line-height: 140%;
      display: inline-block;
      margin: 0px 5.5px 12px;
      & input:checked {
        & ~ #{$parent}__item-visible {
          color: white;
          border-color: $blue;
          background: $blue;
          padding-right: 10px;
          & #{$parent}__item-count {
            display: none;
          }
          & svg {
            display: block;
          }
        }
      }
    }
  }
}
