.header-mobile {
  display: none;
  @include adaptive(1440) {
    display: block;
  }
  &__burger {
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    padding: 0;
    &:hover {
      & span {
        &:nth-child(2) {
          width: 50%;
        }
      }
    }
    & span {
      width: 20px;
      height: 2px;
      background: #000;
      display: block;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
  }
}
