.header-mobile {
  display: none;
  @include adaptive(1440) {
    display: block;
  }
  &__detach {
    @include adaptive(875) {
      display: flex;
      flex-direction: column;
    }
  }
  &__text {
    @include adaptive(1440) {
      line-height: 140%;
      color: $grey;
      margin-right: 5px;
      margin: 0;
    }
  }
  &__name {
    @include adaptive(1440) {
      font-size: 18px;
      line-height: 140%;
      margin: 0 0 13px;
    }
  }
  &__manager {
    @include adaptive(1440) {
      margin-top: 80px;
    }
    @include adaptive(875) {
      margin-top: 43px;
    }
  }
  &__close {
    @include adaptive(1440) {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      position: absolute;
      top: 64px;
      left: 64px;
      &:hover {
        & svg {
          fill: $blue
        }
      }
      & svg {
        width: 16px;
        height: 16px;

      }
    }
    @include adaptive(875) {
      top: 20px;
      left: 1px;
    }
    @include phone {
      top: -49px;
      left: 10px;
      background: white;
      z-index: 12;
    }
  }
  &__wrapper {
    transition:0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &__wrapper {
    @include adaptive(1440) {
      width: 568px;
      height: 100%;
      max-height: 100vh;
      position: fixed;
      top: 0;
      left: -568px;
      background: white;
      -webkit-transition-property: left;
      -moz-transition-property: left;
      -ms-transition-property: left;
      -o-transition-property: left;
      transition-property: left;
      z-index: 12;
      padding-left: 82px;
      &.js-isActive {
        left: 0;
      }
    }
    @include adaptive(875) {
      padding-left: 20px;
    }
    @include adaptive(635) {
      width: 100%;
      left: -100%;
    }
    @include phone {
      top: 62px;
      padding-left: 0;
    }
  }
  &__subwrap {
    @include adaptive(1440) {
      height: 100%;
      max-height: 100%;
      overflow: auto;
      border-left: 2px solid $theme2-grey;
      padding: 157px 0px 0px 85px;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar,
      & *::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb,
      & *::-webkit-scrollbar-thumb {
        background: #7B71AA;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-track {
        background: #ABACAC;
        border-radius: 20px;
      }
    }
    @include adaptive(1144) {
      padding: 64px 0px 0px 85px;
    }
    @include adaptive(875) {
      padding: 50px 23px 0px 23px;
    }
    @include phone {
      border: none;
      padding: 1px 23px 0px 23px;
    }
  }
  &__overlay {
    width:100%;
    height: 100%;
    background: #000000;

    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition-property: right;
    -moz-transition-property: right;
    -ms-transition-property: right;
    -o-transition-property: right;
    transition-property: right;
    z-index: 10;
    opacity: 0;
    @include phone {
      display: none;
    }
    &.js-isActive {
      right: 0;
      opacity: 0.3;
    }
  }
  &__burger {
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    padding: 0;
    margin-right: 107px;
    @include adaptive(1366) {
      margin-right: 101px;
    }
    @include adaptive(1144) {
      margin-right: 86px;
    }
    @include adaptive(1100) {
      margin-right: 85px;
    }
    @include adaptive(1000) {
      margin-right: 10px;
    }
    &:hover {
      & span {
        &:nth-child(2) {
          width: 50%;
        }
      }
    }
    & span {
      width: 20px;
      height: 2px;
      background: #000;
      display: block;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
  }
}
