.mobile-filter {
	&__button {
		display: none;
		@include adaptive (775) {
			display: block;

			border: 1px solid #aeaeae;
		}
	}
	&__appendWrap {
		width: 100%;
		height: 100%;
		max-width: 100vw;
		max-height: 100vh;

		background: white;

		position: fixed;
		top: 0;
		left: -100%;

		overflow: auto;
		-webkit-overflow-scrolling: touch;

		z-index: 11;
		transition: 1s;
		transition-property: left;
		padding: 80px 30px;
		@include phone {
			padding: 40px 25px;
		}
		&.isActive {
			left: 0;
		}
	}
	&__cross {
		position: absolute;
		top: 60px;
		right: 60px;

		z-index: 6;
		cursor: pointer;
		& svg {
			width: 16px;
			height: 16px;

			fill:black;

			pointer-events: none;
		}
	}
}
