.navigation {
  $parent: &;
  &__hidden {
    &-item {
      @include adaptive(875) {
        width: 100%;
        position: relative;
        margin-right: 15px;
      }
    }
    &-open {
      @include adaptive(875) {
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        background: transparent;
        &.js-isOpened {
          &::after {
            -webkit-transform: translate(-50%, -50%) rotate(0);
            -moz-transform: translate(-50%, -50%) rotate(0);
            -ms-transform: translate(-50%, -50%) rotate(0);
            -o-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
          }
        }
        &::before,
        &::after {
          content: '';
          width: 10px;
          height: 0px;
          position: absolute;
          top: 50%;
          left: 50%;
          border: 1px solid #C9C9C9;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        &::after {
          -webkit-transform: translate(-50%,-50%) rotate(90deg);
          -moz-transform: translate(-50%,-50%) rotate(90deg);
          -ms-transform: translate(-50%,-50%) rotate(90deg);
          -o-transform: translate(-50%,-50%) rotate(90deg);
          transform: translate(-50%,-50%) rotate(90deg);
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }
      }
    }
    &-all {
      line-height: 140%;
      text-transform: none;
      display: flex;
      align-items: center;
      margin-top: 22px;
      @include adaptive(875) {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        overflow: hidden;
        padding: 0;
        margin-top: 0;
      }
      & svg {
        width: 9px;
        height: 15px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        margin-left: 9px;
      }
    }
    &-sublist {
      font-weight: 400;
      line-height: 200%;
      list-style-type: none;
      text-transform: none;
      margin: 0;
      padding: 0;
      @include adaptive(875) {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        overflow: hidden;
        padding: 0;
        &.js-isOpened {
          max-height: 1000px;
          opacity: 1;
          overflow: visible;
          visibility: visible;
          transition: all 0.3s ease-in-out;
          z-index: 10;
          pointer-events: all;
          & ~ #{$parent}__hidden-all {
            max-height: 200px;
            opacity: 1;
            overflow: visible;
            visibility: visible;
            transition: all 0.3s ease-in-out;
            z-index: 10;
            pointer-events: all;
            margin-top: 15px;
            margin-bottom: 36px;
          }
        }
      }
    }
    &-title {
      text-transform: none;
      display: flex;
      align-items: center;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      margin: 0px 0px 15px;
      @include adaptive(875) {
        font-weight: 400;
      }
      &:hover {
        color: $blue;
      }
      & svg {
        width: 31px;
        height: 25px;
        margin: 0px 20px 0 0;
      }
    }
    &-list {
      left: 0;
      top: 114px;
      right: 0;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      overflow: hidden;
      padding: 37px 0;
      @include adaptive(875) {
        width: 100%;
        max-height: 0;
        top: auto;
        right: auto;
        position: relative;
        border-bottom: 1px solid $theme-grey;
        padding: 0px 0;
        &.js-isOpened {
          max-height: 682px;
          opacity: 1;
          overflow: auto;
          visibility: visible;
          transition: all 0.3s ease-in-out;
          z-index: 10;
          pointer-events: all;
          padding: 20px 2px 20px 0;
        }
      }
      &::before {
        content: '';
        width: 100vw;
        height: 1px;
        background: $theme-grey;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @include adaptive(875) {
          display: none;
        }
      }
      &::after {
        content: '';
        width: 100vw;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        -webkit-transform: translatex(-50%);
        -moz-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
        -o-transform: translatex(-50%);
        transform: translatex(-50%);
        background: #FFFFFF;
        box-shadow: 0px 5px 10px rgba(37, 41, 43, 0.05);
        z-index: -1;
        @include adaptive(875) {
          display: none;
        }
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 58px;
    @include adaptive(875) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    @include adaptive(875) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      order: -1;
    }

  }
  &__additional {
    @include adaptive(1366) {
      width: 531px;
      background: white;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      position: absolute;
      right: 0;
      top: calc(100% + 25px);
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      overflow: hidden;
      padding: 8px 18px;
      &:hover {
        opacity: 1;
        overflow: visible;
        visibility: visible;
        transition: all 0.3s ease-in-out;
        z-index: 10;
        pointer-events: all;
      }
      &-link {
        font-size: 16px;
        line-height: 140%;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        @include adaptive(1144) {
          font-size: 14px;
        }
        &:hover {
          color: $blue;
        }
      }
    }
  }
  &__item {
    @include adaptive(875) {
      width: 100%;

    }
    &_svg {

      display: flex;
      align-items: center;
      @include adaptive(875) {
        flex-direction: column;
        align-items: flex-start;
      }
      &:hover {
        & #{$parent}__link svg {
          fill: $blue
        }
      }
      & #{$parent}__link svg {
        width: 9px;
        height: 13px;
        @include adaptive(1144) {
          width: 8px;
          height: 11px;
        }
      }
    }
    &_mobile {
      display: none;
      @include adaptive(1366) {
        display: block;
        position: relative;
        &:hover {
          & #{$parent}__additional {
            opacity: 1;
            overflow: visible;
            visibility: visible;
            transition: all 0.3s ease-in-out;
            z-index: 10;
            pointer-events: all;
          }
          &::before {
            pointer-events: all;
          }
        }
        &::before {
          content: '';
          width: 100px;
          height: 28px;
          position: absolute;
          pointer-events: none;
          right: 0;
          top: 100%;
        }
      }
      @include adaptive(635) {
        display: none;
      }

    }
    &_parent {
      font-weight: 700;
      text-transform: uppercase;
      & #{$parent}__link {
        position: relative;
        &::before {
          content: '';
          width: 100px;
          height: 28px;
          position: absolute;
          pointer-events: none;
          right: 0;
          top: 100%;
          @include adaptive(1144) {
            height: 37px;
          }
        }
      }

      @media screen and (min-width:876px) {
        &:hover #{$parent}__hidden-list {
          opacity: 1;
          overflow: visible;
          visibility: visible;
          transition: all 0.3s ease-in-out;
          z-index: 10;
          pointer-events: all;

        }
      }
      &:hover {
        & #{$parent}__link::before {
          pointer-events: all;
        }
      }
    }
  }
  &__link {
    font-size: 16px;
    font-weight: inherit;
    line-height: 22px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    @include adaptive(1144) {
      font-size: 14px;
    }
    @include adaptive(875) {
      width: 100%;
      font-size: 18px;
      font-weight: 700;
      line-height: 300%;
      text-transform: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $theme-grey;
    }
    &_new {
      @include adaptive(635) {
        color: $green;
      }
    }
    &_sail {
      @include adaptive(635) {
        color: $red;
      }
    }
    &_hit {
      @include adaptive(635) {
        color: $orange;
      }
    }
    &_phone-uniq {
      @include adaptive(635) {
        justify-content: flex-start;
      }
      & svg {
        display: none;
        @include adaptive(635) {
          width: 17px;
          height: 17px;
          display: block;
          margin-right: 15.5px;
        }
      }

    }
    &-name {
      font-weight: 700;
    }
    &:hover {
      color: $blue;
    }
  }
}
