.subscription {
	&__wrap {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: stretch;

		@include adaptive (635) {
			flex-direction: column;
		}
	}
	&__submit {
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		line-height: 30px;

		background-color: #f26522;
		border: 1px solid transparent;

		padding: 0px 36px;

		transition: .3s;
		@include adaptive (635) {
			font-size: 12px;
			line-height: 25px;
		}
		&:hover {
			border-color: white;
		}
	}
}
