<section class="about">
  <div class="container">
    <div class="about__wrap">
      <div class="about__info">
        <h2 class="about__title section-title">
          О компании
        </h2>
        <div class="about__info-icon">
          {{#create-svg}}about-logo{{/create-svg}}
        </div>
        <div class="about__info-content">
          <p><b>Uraltoys</b> - динамично развивающаяся компания, основное направление деятельности которой является продажа детских игрушек оптом. Компания успешно работает с 2007 года, и за это время нам удалось занять одно из лидирующих мест на рынке игрушек Уральского региона. Наш ассортимент насчитывает более 30 000 наименований качественных игрушек, товаров для детей и новорожденных, а также товаров для спорта и активного отдыха.</p>
          <p>Мы сотрудничаем с крупнейшими российскими производителями игрушек, осуществляем прямые поставки китайских игрушек и товаров для детей. Игрушки оптом из Китая закупаются напрямую с заводов-производителей, что гарантирует самые выгодные цены.  Особое внимание уделяется качеству товара и постоянному обновлению и расширению ассортимента игрушек. Все товары сертифицированы, соответствуют установленным требованиям и ГОСТам и абсолютно безопасны для детей.</p>
          <p>Имея собственные розничные магазины, мы грамотно и своевременно пополняем свой ассортимент и стараемся отвечать требованиям самых взыскательных покупателей. Выбрать и купить игрушки можно как в нашем КЭШе, так и через наш сайт www.ural-toys.ru.</p>
          <p>Продажа игрушек для детей оптом осуществляется как по наличному, так и по безналичному расчету. В нашей компании существует выгодная система скидок.</p>
        </div>
        <button type="button" class="about__info-more">
          Показать еще
        </button>
      </div>
      <div class="about__features">
        <h2 class="about__title section-title">
          Почему с нами работать выгодно
        </h2>
        <div class="about__features-wrap">
          <div class="about__features-item">
            <h3 class="about__features-title about__features-title_purple">
              <span class="js-counter">
                41
              </span>
            </h3>
            <span class="about__features-text">Город доставки</span>
          </div>
          <div class="about__features-item">
            <h3 class="about__features-title about__features-title_orange">
              <span class="js-counter">
                250
              </span>
            </h3>
            <span class="about__features-text">Брендов</span>
          </div>
          <div class="about__features-item">
            <h3 class="about__features-title about__features-title_red">
              <span class="js-counter">38</span> <span class="about__features-small">тыс +</span>
            </h3>
            <span class="about__features-text">Город доставки</span>
          </div>
          <div class="about__features-item">
            <h3 class="about__features-title about__features-title_blue">
              <span class="js-counter">97</span> <span class="about__features-small">%</span>
            </h3>
            <span class="about__features-text">Брендов</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
