<section class="banner-block">
  <div class="container">
    <div class="banner-block__wrap">
      <div class="banner-block__form callback-form with-gradient" style="background-image: url('/template/img/main-form2.png');">
        <h2 class="callback-form__title">Получить консультацию</h2>
        <div class="callback-form__body">
          <form action="/" method="post">
            <div class="callback-form__body-wrap">
              <div class="callback-form__row">
                <label class="callback-form__row-label text-label">
                  <input type="text" class="callback-form__input text-input" placeholder="Ваше имя">
                </label>
                <label class="callback-form__row-label text-label">
                  <input type="text" class="callback-form__input text-input" required placeholder="Ваш телефон*">
                </label>
              </div>
              <label class="callback-form__label">
                <textarea rows="1"
                          class="text-area callback-form__input text-input" placeholder="Ваш вопрос"></textarea>
              </label>
              <div class="callback-form__row">
                <label class="callback-form__checkbox checkbox">
                  <input type="checkbox" class="checkbox__box visually-hidden">
                  <span class="checkbox__span"></span>
                  <span class="checkbox__text">Соглашаюсь на обработку данных, установленных в политике конфиденциальности</span>
                </label>
                <button type="button" class="callback-form__submit common-red-button">
                  Отправить
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <article class="banner-block__item banner-block__item_orange" style="background-image: url('/template/img/banner-block.png');">
        <a href="#"></a>
        <h2 class="banner-block__text-title">
          Большая распродажа
        </h2>
        <p class="banner-block__text-subtitle">
          мягких игрушек
        </p>
        <div class="banner-block__interactive">
          -30%
        </div>
        <p class="banner-block__plaster">
          *акция действует при заказе от 100 шт.
        </p>
      </article>
    </div>
  </div>
</section>
