<section class="breadcrumbs">
	<div class="container">
    <div class="breadcrumbs__wrap" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <meta itemprop="position" content="1">
          <a class="breadcrumbs__link" href="" title="Главная" itemprop="item">Главная</a>
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <meta itemprop="position" content="3">
          <a class="breadcrumbs__link" href="" title="Главная" itemprop="item">{{title}}</a>
        </li>
        {{#ifequal hasChild 'detail'}}
        <li class="breadcrumbs__item breadcrumbs__item_active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <meta itemprop="position" content="3">
          <span>{{detail}}</span>
        </li>
        {{/ifequal}}
      </ul>
    </div>
  </div>
</section>
