<section class="catalog-grid">
  <div class="catalog-grid__title">
    {{> section-title className="catalog-grid" name="Каталог"}}
  </div>
  <div class="container">
    <div class="catalog-grid__wrap">
      <div class="catalog-grid__body">
        <div class="catalog-grid__item catalog-grid__item_size_big catalog-grid__item_category">
          <div class="catalog-grid__item-wrap">
            <a href="#" class="catalog-grid__item-category">
              <span class="catalog-grid__item-plus"></span>
              57
            </a>
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog1{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Транспорт</h3>
            <ul class="catalog-grid__item-list">
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Гаражи, парковки, эста...
                </a>
              </li>
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Водный транспорт
                </a>
              </li>
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Воздушный транспорт
                </a>
              </li>
            </ul>
            <a href="#" class="catalog-grid__item-more more-common-link">
              <span>Еще</span>
              {{#create-svg}}arrow-btn{{/create-svg}}
            </a>
            <div class="catalog-grid__item-big-icon">
              {{#create-svg}}catalog1-bg{{/create-svg}}
            </div>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_big">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog2{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Летний ассортимент</h3>
            <ul class="catalog-grid__item-list">
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Водное оружие
                </a>
              </li>
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Горки, дома, песочницы...
                </a>
              </li>
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Зонты
                </a>
              </li>
            </ul>
            <a href="#" class="catalog-grid__item-more more-common-link">
              <span>Еще</span>
              {{#create-svg}}arrow-btn{{/create-svg}}
            </a>
            <div class="catalog-grid__item-big-icon">
              {{#create-svg}}catalog2-bg{{/create-svg}}
            </div>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Велосипеды</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog1{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Спорт и отдых</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small catalog-grid__item_category">
          <div class="catalog-grid__item-wrap">
            <a href="#" class="catalog-grid__item-category">
              <span class="catalog-grid__item-plus"></span>
              57
            </a>
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog2{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Детский транспорт</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Игрушки для малышей</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Товары для праздника</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog1{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Деревянные игрушки</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Игрушки на радиоуправлении</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog4{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Книги</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Развивающие, обучающие игры</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog2{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Сюжетно-ролевые игры</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Канцтовары, школьные принадлежн...</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog2{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Детское оружие</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog1{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Конструкторы</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_big">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog4{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Мягкая игрушка</h3>
            <ul class="catalog-grid__item-list">
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Брелки, рамки, тапочки
                </a>
              </li>
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Мягкая игрушка
                </a>
              </li>
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Мягкие сумки, рюкзаки...
                </a>
              </li>
            </ul>
            <a href="#" class="catalog-grid__item-more more-common-link">
              <span>Еще</span>
              {{#create-svg}}arrow-btn{{/create-svg}}
            </a>
            <div class="catalog-grid__item-big-icon">
              {{#create-svg}}catalog3-bg{{/create-svg}}
            </div>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_big catalog-grid__item_category">
          <div class="catalog-grid__item-wrap">
            <a href="#" class="catalog-grid__item-category">
              <span class="catalog-grid__item-plus"></span>
              57
            </a>
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog1{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Куклы и аксессуары</h3>
            <ul class="catalog-grid__item-list">
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Дома для кукол
                </a>
              </li>
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Кареты с лошадьми, ма...
                </a>
              </li>
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Коляски для кукол
                </a>
              </li>
            </ul>
            <a href="#" class="catalog-grid__item-more more-common-link">
              <span>Еще</span>
              {{#create-svg}}arrow-btn{{/create-svg}}
            </a>
            <div class="catalog-grid__item-big-icon">
              {{#create-svg}}catalog1-bg{{/create-svg}}
            </div>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_big">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog2{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Новый Год</h3>
            <ul class="catalog-grid__item-list">
              <li class="catalog-grid__item-item">
                <a href="#" class="catalog-grid__item-link">
                  Новогоднее творчество
                </a>
              </li>
            </ul>
            <a href="#" class="catalog-grid__item-more more-common-link">
              <span>Еще</span>
              {{#create-svg}}arrow-btn{{/create-svg}}
            </a>
            <div class="catalog-grid__item-big-icon">
              {{#create-svg}}catalog2-bg{{/create-svg}}
            </div>
          </div>

        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Зимний ассортимент</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Элементы питания, фонарики...</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog4{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Игры для развлечений</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Музыкальные инструменты</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog1{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Наборы животных, персонажей</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog3{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Детские товары, мебель</h3>
          </div>
        </div>
        <div class="catalog-grid__item catalog-grid__item_size_small">
          <div class="catalog-grid__item-wrap">
            <div class="catalog-grid__item-icon">
              {{#create-svg}}catalog2{{/create-svg}}
            </div>
            <h3 class="catalog-grid__item-title">Настольные игры, пазлы
            </h3>
          </div>
        </div>
      </div>
      <button type="button" class="catalog-grid__more js-sortCatalog">
        <span class="js-isSwitchValue">Свернуть часть категорий</span>
        <span class="catalog-grid__more-toggle toggle">

      </span>
      </button>
    </div>
  </div>
</section>
