<section class="catalog-list section">
  <div class="container">
    <ul class="catalog-list__wrap">
      {{#each catalog-list.items}}
      <li class="catalog-list__item">
        <a href="#" class="catalog-list__link">
          <img src="./template/img/{{this.image}}" alt="" class="catalog-list__image">
          <span class="catalog-list__name">
            {{this.title}}
            <span class="catalog-list__count">{{this.number}}</span>
            <span class="catalog-list__plus">
             {{this.additional}}
            </span>
          </span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</section>
