<aside class="catalog__desktop catalog-desktop">
  <ul class="catalog-desktop__list">
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Транспорт
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Детский транспорт
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Игрушки на радиоуправлении
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Мягкая игрушка
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Новый Год
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Наборы животных, персонажи
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Детские товары, мебель
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Летний ассортимент
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Игрушки для малышей
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Книги
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Канцтовары, школьные принадлежности
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Детское оружие
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Зимний ассортимент
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Велосипеды
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Товары для праздника
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Куклы и аксессуары
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Элементы питания, фонарики, флэшки
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
         Настольные игры, пазлы
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Спорт и отдых
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Деревянные игрушки
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Сюжетно-ролевые игры
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Конструкторы
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Музыкальные инструменты
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
    <li class="catalog-desktop__item js-isParent">
      <span class="catalog-desktop__position">
        <span class="catalog-desktop__name">
          Игры для развлечений
          <span class="catalog-desktop__plus">
            +3
          </span>
        </span>
        <span class="catalog-desktop__button js-openSublist">
          {{#create-svg}}spot{{/create-svg}}
        </span>
      </span>
      <ul class="catalog-desktop__sublist js-subList">
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Духовые инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Клавишные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Наборы музыкальных инструментов
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Плееры, магнитофоны, микрофоны, смартфоны
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
        <li class="catalog-desktop__subitem">
          <a href="#" class="catalog-desktop__sublink">
            Струнные инструменты
            <span class="catalog-desktop__count">
              112
            </span>
            <span class="catalog-desktop__plus">
              + 3
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
