<header class="header">
  <div class="header__top">
    <div class="container">
       <div class="header__top-wrap">
         <div class="header__top-city">
          <p class="header__city-title">
            <svg>
              <use xlink:href="/template/img/icons.svg#mark"></use>
            </svg>
            <span class="header__city-name header__normal">
              Ваш город:
            </span>
          </p>
           <button type="button" class="header__city-selected">
             <span class="header__city-value header__bold js-valueCity">Тула</span>
             <svg>
               <use xlink:href="/template/img/icons.svg#arrow-btn"></use>
             </svg>
           </button>
         </div>
         <div class="header__top-manager">
           <p class="header__manager-name header__normal">
             Ваш менеджер:
           </p>
           <span class="header__manager-value header__bold">
             Александра
           </span>
         </div>
         <ul class="header__top-list">
           <li class="header__top-item"><a href="#" class="header__top-link">О компании</a></li>
           <li class="header__top-item"><a href="#" class="header__top-link">Условия работы</a></li>
           <li class="header__top-item"><a href="#" class="header__top-link">Доставка</a></li>
           <li class="header__top-item"><a href="#" class="header__top-link">Контакты</a></li>
         </ul>
         <div class="header__top-phones">
           <span class="header__phones-name">Т</span>
           <a href="tel:+79122637575" class="header__phones-item">+7 (912) 263-75-75</a>
           <a href="tel:+78002502271" class="header__phones-item"> 8 800 250 22 71</a>
         </div>
         <button type="button" data-target="js-openCallbackPopup" class="header__top-callback js-callback common-blue-button">
           Вопрос руководителю
         </button>
       </div>

    </div>
  </div>
</header>
