<section class="horizontal-tabs">
  <div class="container">
    <div class="horizontal-tabs__wrap">
      <div class="horizontal-tabs__item horizontal-tabs__item_display_mobile">
        <button type="button" class="horizontal-tabs__open js-toggleSort">
          По убыванию цены
        </button>
        <button type="button" class="horizontal-tabs__open js-toggleFilter">
          Фильтр
        </button>
        <section class="horizontal-tabs__additional js-appendFilter">
          <ul class="horizontal-tabs__additional-list js-openSort">
            <li class="horizontal-tabs__additional-item"><a href="#" class="horizontal-tabs__additional-link">По возрастанию цены</a></li>
            <li class="horizontal-tabs__additional-item"><a href="#" class="horizontal-tabs__additional-link">По наименованию (А-Я)</a></li>
            <li class="horizontal-tabs__additional-item"><a href="#" class="horizontal-tabs__additional-link">По наименованию (Я-А)</a></li>
            <li class="horizontal-tabs__additional-item"><a href="#" class="horizontal-tabs__additional-link">По новизне</a></li>
            <li class="horizontal-tabs__additional-item"><a href="#" class="horizontal-tabs__additional-link">По популярности</a></li>
          </ul>
        </section>
      </div>
      <div class="horizontal-tabs__item horizontal-tabs__item_display_desktop">
        <div class="horizontal-tabs__subitem">
          <h3 class="horizontal-tabs__subname horizontal-tabs__subname_hiden">
            Сортировать:
          </h3>
          <ul class="horizontal-tabs__list">
            {{#each sort-by.items}}
            <li class="horizontal-tabs__list-item {{this.active}}">
              <a href="#" class="horizontal-tabs__list-link">
                {{this.title}}
                {{#create-svg}}arrow-down{{/create-svg}}
              </a>
            </li>
            {{/each}}
          </ul>
        </div>
        <div class="horizontal-tabs__subitem">
          <h3 class="horizontal-tabs__subname">
            Показывать по:
          </h3>
          <ul class="horizontal-tabs__list">
            {{#each show-by.items}}
            <li class="horizontal-tabs__list-item {{this.active}}">
              <a href="#" class="horizontal-tabs__list-link">
                {{this.title}}
              </a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="horizontal-tabs__display-by">
        <button class="horizontal-tabs__button js-changeView" toggle-to="reset">
          {{#create-svg}}small-cards{{/create-svg}}
        </button>
        <button class="horizontal-tabs__button js-changeView" toggle-to="big-cards">
          {{#create-svg}}big-cards{{/create-svg}}
        </button>
        <button class="horizontal-tabs__button js-changeView" toggle-to="horizontal-cards">
          {{#create-svg}}horizontal-cards{{/create-svg}}
        </button>
      </div>
    </div>
  </div>
</section>
