<section class="index-slider">
  <div class="container container_mobile">
    <div class="index-slider__wrap">
      <div class="index-slider__body">
        <div class="index-slider__big-item js-appendBody swiper-container">
          <div class="swiper-wrapper">
            {{#repeat 3}}
            <div class="index-slider__item index-slider__item_context_inside index-slider__item_color_purple swiper-slide" style="background-image: url('./template/img/slider1.png');">
              <div class="index-slider__item-plaster index-slider__item-plaster_blue index-slider__item-front">
                Снижение цен
              </div>
              <h2 class="index-slider__item-title index-slider__item-front">
                На весь ассортимент
              </h2>
              <p class="index-slider__item-subtitle index-slider__item-front">
                дополнительная скидка 5%
              </p>
              <a href="#" class="index-slider__item-button index-slider__item-front common-red-button">
                Узнать подробнее
              </a>
            </div>
            {{/repeat}}
          </div>
          <div class="swiper-pagination">

          </div>
        </div>
        <div class="index-slider__item index-slider__item_context_outside index-slider__item_color_orange" style="background-image: url('./template/img/slider2.png');">
          <div class="index-slider__item-plaster index-slider__item-plaster_min index-slider__item-plaster_white js-minItem">
            Скидка 25%
          </div>
          <h2 class="index-slider__item-title index-slider__item-title_min">
            На настольные игры
          </h2>
          <p class="index-slider__item-subtitle index-slider__item-subtitle_min">
            производства КНР
          </p>
          <p class="index-slider__item-additional">
            Акция продлится до 30.04.19 <br>
            Скидка предоставляется на условиях предоплаты
          </p>
        </div>
        <div class="index-slider__item index-slider__item_context_outside index-slider__item_image_center index-slider__item_color_blue index-slider__item_bottom" style="background-image: url('./template/img/slider3.png');">
          <div class="index-slider__item-plaster index-slider__item-plaster_min index-slider__item-plaster_white">
            Уникальное предложение
          </div>
          <h2 class="index-slider__item-title index-slider__item-title_min">
            Бесплатная доставка
          </h2>
          <p class="index-slider__item-subtitle index-slider__item-subtitle_min ">
            всем новым клиентам при заказе от 50 000 ₽
          </p>
          <p class="index-slider__item-additional">
            *подробности уточняйте у отдела продаж
          </p>
        </div>
        <div class="index-slider__item index-slider__item_context_outside index-slider__item_image_center index-slider__item_color_dark-purple index-slider__item_bottom" style="background-image: url('./template/img/slider4.png');">
          <div class="index-slider__item-plaster index-slider__item-plaster_min index-slider__item-plaster_white">
            Скидка 25%
          </div>
          <h2 class="index-slider__item-title index-slider__item-title_min">
            На настольные игры
          </h2>
          <p class="index-slider__item-subtitle index-slider__item-subtitle_min ">
            производства КНР
          </p>
          <p class="index-slider__item-additional">
            Акция продлится до 30.04.19 <br>
            Скидка предоставляется на условиях предоплаты
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
