<section class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item pagination__item_first pagination__item_arrow">
      <a href="#" class="pagination__link">
        {{#create-svg}}spot{{/create-svg}}
      </a>
    </li>
    <li class="pagination__item isActive">
      <a href="#" class="pagination__link">1</a>
    </li>
    <li class="pagination__item">
      <a href="#" class="pagination__link">2</a>
    </li>
    <li class="pagination__item">
      <a href="#" class="pagination__link">3</a>
    </li>
    <li class="pagination__item">
      <a href="#" class="pagination__link">4</a>
    </li>
    <li class="pagination__item pagination__item_last pagination__item_arrow">
      <a href="#" class="pagination__link">
        {{#create-svg}}spot{{/create-svg}}
      </a>
    </li>
  </ul>
</section>
