<section class="single-column-slider">
  {{> template-top className='single-column-slider' name='Новые поступления в брендах' allText='Все новинки' type='single'}}
  <div class="container">
    <div class="single-column-slider__wrap swiper-container">
      <div class="swiper-wrapper single-column-slider__wrapper">
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand1.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand2.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand3.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand4.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand5.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand6.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand7.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand8.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand9.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand10.png" alt=""></div>
        <div class="single-column-slider__item swiper-slide"><img src="/template/img/brand1.png" alt=""></div>
      </div>
    </div>
  </div>
</section>
