*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	font-family: "SourceSansPro", "Arial", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: black;
	overflow-x: hidden;
  @include adaptive(1144) {
    font-size: 13px;
  }
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: $purple;
		border-radius: 20px;
	}
	&::-webkit-scrollbar-track {
		background: $grey;
		border-radius: 20px;
	}

}
body.js-overFlowed {
	overflow: hidden;
}

header {
	flex-shrink: 0; /* IE fix */
}

main {
	flex-shrink: 0; /* IE fix */
}

body > div {
	flex-shrink: 0; /* IE fix */
}

footer {
	flex-shrink: 0; /* IE fix */
	margin-top: auto;
}

img {
	max-width: 100%;
	max-height: 100%;
}
a,
label {
	-webkit-tap-highlight-color: transparent;
}


input[type=submit],
input[type=text],
input[type=search],
textarea,
button[type=button] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	cursor: pointer;
}



svg {
	transition: 0.3s;
}


a {
	color: black;
	text-decoration: none;
	transition: .3s;
}


.visually-hidden {
	width: 1px;
	height: 1px;
	margin: -1px;
	position: absolute;
	clip: rect(0 0 0 0);
}

.container {
	width: 100%;
	max-width: 1810px;
	padding: 0 15px;
	margin: 0 auto;
  @include adaptive(1366) {
    max-width: 1270px;
  }
  @include adaptive(1100) {
    max-width: 1030px;
  }
	@include phone {
		padding: 0px 8px;
	}
	&_big {
		max-width: 1758px;
	}
	&_min {
		max-width: 1287px;
	}
	&_full {
		max-width: 1950px;
		padding: 0;
	}
}

.mobile-drop {

	&_level1 {
		@include adaptive (1800) {
			display: none!important;
		}
	}
	&_level2 {
		@include adaptive (775) {
			display: none !important;
		}
	}
	&_level3 {
		@include adaptive (635) {
			display: none !important;
		}
	}
}
